.form-label{
    padding-right: 400px;
}
.btn-primary {
    width: 100%;
    background-color: #FFE57A;
    border-color: black;
    padding: 5px;
    transition: background-color 0.3s;
    color: black;
}

.btn-primary:hover {
    background-color: #FFD54F;
}

.button>a{
    margin-top: 20px;
    margin-bottom: 20px;
}
