.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.lexend-deca {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


body
{
    margin:0;
    padding: 0;
}

.sales
{
    background-color: black;
    color: white;
}

.container{
    max-width: 960px;
    margin: 0;
}

header
{
    margin-bottom: 50px;
    width: 100%;
}

.header .top_header{
    padding-top: 10px;
}


.header .bottom_header{
    padding-bottom: 10px;
}

.header .top_header nav{
    display: flex;
    /* justify-content: space-between;
    justify-items: center; */

}

#main_menu{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-items: center;
    justify-content: center;
}

#main_menu .sub_menu{
    list-style: none;
}

#main_menu li a{
    text-decoration: none;
    padding: 0px 30px;

}


.banner
{
    width: 100%;
    height:auto;
}


footer
{
    margin-top: 100px;
    width: 100%;
    background-color: #FFE57A;
}
.row
{
    display: flex;
}
.column 
{
    flex: 1;
    margin-left: 120px;
    border: 2px solid black;
}
.title {
    color: #844700;
    margin-top: 80px;
}
.footer-links a {
    color: #171717;
    text-decoration: none;
}
.bottom-nav a
{
    margin-right: 75px;
    text-decoration: none;
    color: white;
}
