/* Định dạng cho phần wrapper */


/* Định dạng cho các ô trong bảng */
table tr td {
    padding: 20px;
}

table tr td p{
    margin: 0;
}
/* Định dạng cho phần tiêu đề của bảng */
table tr td h2 {
    margin: 0;
    text-align: center;
    color: #1F3E97;
}

/* Định dạng cho phần nhập liệu */
table tr td input {
    width: 100%; /* Chiều rộng input 100% của ô */
    padding: 5px;
    box-sizing: border-box; /* Đảm bảo chiều rộng và chiều cao tính cả border và padding */
    padding-right: 300px;

}

/* Định dạng cho nút NEXT */
table tr td a button {
    width: 100%;
    padding: 5px;
    background-color: #FFE57A;
    transition: background-color 0.3s; /* Hiệu ứng màu nền khi hover */
}

/* Hiệu ứng hover cho nút NEXT */
table tr td a button:hover {
    background-color: #FFD54F;
}

/* Định dạng cho nút Cancel */
table tr td a {
    display: block; /* Biến nút Cancel thành một block để chiếm hết chiều rộng của ô */
    text-decoration: none; /* Loại bỏ gạch chân cho liên kết */
    color: #1F3E97; /* Màu chữ cho nút Cancel */
    margin-top: 10px; /* Khoảng cách từ nút NEXT đến nút Cancel */
}

/* Hiệu ứng hover cho nút Cancel */
table tr td a:hover {
    text-decoration: underline; /* Gạch chân lại khi hover */
}
