body
{
    background-color: #FFFEFC;
}

.card {
  position: sticky;
  top: 0;
  height: 98vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFAE3;
  border-radius: 15px;
  border: 0px solid #FFFAE3;
}

.title{
  font-family: 'Lexend';
  font-size: 20px;
}

/* header */
.card-header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Londrina solid';
  color: black;
  font-size: 45px;
  background-color: #FFFAE3;
  border: 2px solid black;
  margin-bottom: 5%;
}

  /* ul li */
.card-body{
  padding: 0px;
}

.nav-item:hover{
  cursor: pointer;
  background-color: #FFE57A;
}

.nav_active
{
  background-color: #FFE57A;
}

.nav-item
{
  border-radius: 20px;
}

.nav-item b{
  margin-left: 10px;
}

  /* body */
.nav .nav-item{
  width: auto;
  line-height: 3;
  padding-left: 25%;
}

.sidebar-hr{
  color: #FFCB45;
  border-width: 2.5px;
  margin: 0px;
}

  /* footer */
.card-footer{
  display: flex;
  justify-content: center;
  background-color: #FFFAE3;
  border: none;
  margin-top: 10%;
  margin-bottom: 5%;
}

.btn-warning{
  font-family: 'Lexend';
  font-size: 20px;
  background-color: #FFEC9C;
  border-radius: 10px;
}










/* CSS CHO PRODUCT */
.image-container {
  height: 70px;
  width: 60px;
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 1px;
}
th {
  text-align: center;
}
table thead {
  border-radius: 20px;
}

.modal-dialog.custom-top{
  position: relative;
  top: 20%;
}
.modal-dialog.custom-width {
  max-width: 50%;
}

.modal-header {
  background-color: #FFEC9C;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modal-header-delete{
  background-color: #FFEC9C;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height:7vh;
}
.modal-title{
  font-size:30px;
  text-align: center;
  flex: 1;
}
.modal-title-delete{
  text-align:center;
  flex: 1;
}
#button-save{
  background-color: #FFEC9C;
  Color:black;
}
#button-add{
  background-color: #FFEC9C;
  Color:black;
}
.image-border{
  border: 2px solid #FFEC9C;
  padding: 10px;
  border-radius: 20px;
  height:76%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:0.9vh;
}
.image-border img{
  max-height:100%;
}
.file-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-input-container input {
  width: 100%;
  margin-top:2.3vh;
}

/* CSS CHO PRODUCT */





/* CSS CHO ORDER */
.order-table {
  width: 100%;
  color: #212529;
  border-collapse: collapse;
  text-align: center;
}

.order-table-bordered {
  border: 0; 
}

.order-table-bordered th,
.order-table-bordered td {
  border: 0; 
  border-bottom: 1px solid #dee2e6;
  padding: 15px 15px;
}

.order-thead-dark th {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.order-thead-dark th {
  font-family: Lexend, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 18px 22px;
}

.status-dropdown {
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius: 50px;
  white-space: nowrap;
  letter-spacing: 0.07px;
  padding: 8px;
  font: 600 14px/143% Inter, sans-serif;
  color: #e46a11;
  border: none;
}

.status-pending {
  background-color: #fdf1e8;
  color: #e46a11;
}

.status-shipping {
  background-color: #e8f7fd;
  color: #11aee4;
}

.status-delivered {
  background-color: #e8fdf1;
  color: #11e460;
}

.status-cancelled {
  background-color: #fde8e8;
  color: #e41111;
}

/* CSS CHO ORDER */
