/* Định dạng cho phần wrapper */
.form-label{
    padding-right: 400px;
}

/* Định dạng cho phần tiêu đề */
h2 {
    text-align: center;
}

/* Định dạng cho đường kẻ ngang */
hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

/* Định dạng cho phần nhập liệu */
.form-label {
    color: #1F3E97;
}

.form-control {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

/* Định dạng cho nút NEXT */
.btn-primary {
    width: 100%;
    background-color: #FFE57A;
    border-color: black;
    padding: 5px;
    transition: background-color 0.3s;
    color: black;
}

.btn-primary:hover {
    background-color: #FFD54F;
}

