/* Định dạng cho phần tiêu đề */
h2 {
    text-align: center;
}

.wrapper
{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: fit-content;
    margin-top: 10vh;
}

/* Định dạng cho đường kẻ ngang */
hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

/* Định dạng cho phần nhập liệu */
.form-label {
    color: #1F3E97;
    padding-right: 400px;
    text-align: center;

}

.form-control {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

/* Định dạng cho nút NEXT */
.btn-primary {
    width: 100%;
    background-color: #FFE57A;
    border-color: black;
    padding: 5px;
    transition: background-color 0.3s;
    color: black;
}

.btn-primary:hover {
    background-color: #FFD54F;
}
