.container {
  display: flex;

}

.filters-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    max-width: 194px;
    margin-top: 100px;
  }

  .filters-header {
    display: flex;
    gap: 20px;
  }

  .filters-title {
    color: #000;
    font: 600 22px/136% Lexend Deca, -apple-system, Roboto, Helvetica, sans-serif;
    letter-spacing: -0.55px;
  }

  .clear-filters {
    color: #c4c4c4;
    font: 400 14px/143% Public Sans, -apple-system, Roboto, Helvetica, sans-serif;
    letter-spacing: -0.4px;
    text-decoration: underline;
    align-self: start;
    flex: 1 0 auto;
  }

  .collection-title,
  .material-title,
  .color-patterns-title {
    color: #000;
    font: 700 14px/143% Public Sans, -apple-system, Roboto, Helvetica, sans-serif;
    letter-spacing: -0.4px;
    margin-top: 30px;
    width: 100%;
  }

  .collection-item,
  .material-item {
    display: flex;
    gap: 12px;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 131%;
    margin-top: 10px;
  }

  .collection-checkbox,
  .material-checkbox {
    border: 1px solid rgba(13, 13, 13, 1);
    width: 20px;
    height: 20px;
  }

  .collection-label,
  .material-label {
    font-family: Lexend, sans-serif;
    flex: 1 0 auto;
    margin: auto 0;
  }

  .divider {
    border-top: 1px solid #000;
    background-color: #000;
    min-height: 1px;
    margin-top: 29px;
    width: 100%;
  }

  .color-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 19px;
  }

  .color-white {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .color-clear {
    background-color: #eeeeeb;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .color-yellow {
    background-color: #fbe29f;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .color-blue {
    background-color: #6187b7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .color-pink {
    background-color: #facdd5;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .color-multicolor {
    background: linear-gradient(
      128deg,
      #bee4ea 35.2%,
      #dcd7de 58.65%,
      #fac9d2 82.11%
    );
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .color-label-row {
    display: flex;
    gap: 20px;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -0.4px;
    line-height: 131%;
    justify-content: space-between;
    margin-top: 13px;
  }

  .color-label {
    font-family: Lexend, sans-serif;
  }

  .apply-filters {
    background-color:#ffe57a; 
    height:50px; 
    width:150px; 
    border-radius:5px
  }


  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 165px;
}
.product-container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 30%; 
}
.image-wrapper {
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.7);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1;
    padding: 7px;
}
.product-image {
    aspect-ratio: 0.46;
    object-fit: cover;
    object-position: center;
    width: 118px;
    z-index: 10;
    margin-bottom: -5px;
    max-width: 100%;
}
.product-name {
    color: #000;
    margin-top: 5px;
    width: 100%;
    font: 400 20px Lexend, sans-serif;
}
.product-price {
    color: #000;
    margin-top: 9px;
    width: 100%;
    font: 200 20px Lexend Zetta, sans-serif;
}

.load-more-btn {
  margin-left: 800px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 41px;
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: #000;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: -0.4px;
  font: 500 20px/110% 'Lexend', sans-serif;
  cursor: pointer;
}

