body
{
    margin:0;
    padding: 0;
}

.sales
{
    background-color: black;
    color: white;
}

.container{
    max-width: 960px;
    margin: 0;
}

header
{
    margin-bottom: 50px;
    width: 100%;
}

.header .top_header{
    padding-top: 10px;
}
.name{
    font-family: Londrina Solid;
    font-weight:bold;
    margin-left:30px;
    padding-bottom: 10px;
}
.logo_right{
    margin-right:50px;
}

#search{
    margin-left:120px;
}


.header .bottom_header{
    padding-bottom: 10px;
}

.header .top_header nav{
    display: flex;
}

#main_menu{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-items: center;
    justify-content: center;
}

#main_menu li a{
    text-decoration: none;
    padding: 0px 30px;
    color: black;
    font-family: Verdana;
}

/* form */
:root{
    --text-color: #1F3E97;
    --margin-input-box: 0px;
    --font-input-box: 'Lexend';
}

.title b{
    color: var(--text-color);
    margin: 0px;
    display: flex;
    justify-content: center;
}

.input_box{
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
.input_box p{
    color: var(--text-color);
    margin: var(--margin-input-box);
    font-family: var(--font-input-box);
    line-height: 2;
}

/* password */
.form_search{
    display: flex;
    margin: 0px;
}
.form_search input{
    width: 100%;
    outline: none;
    border: 1px solid black;
    border-right: none;
}
.eye{
    border: 1px solid black;
    background: white;
    border-left: none;
    cursor: pointer;
}

/* button sign up */
.sign_up input{
    background-color: #FFE57A; 
    border-radius: 5px; 
}
.sign_up{
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: var(--font-input-box);
}

/* thẻ hr + OR */
.before{
    width: 100%;
}
.last{
    width: 100%;
}


/* Facebook + Google */
.button {
    display: inline-flex;
    border:1px solid black;
    margin: 10px;
    background-color: white;
    text-decoration: none;
    border-radius: 30px;
    font-family: 'Lexend';
}
img{
    width:20px;
    height:20px;
    margin-right: 15px;
}

/* check account */
#check_account{
    font-family: 'Lexend';
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* footer */
.footer {
    margin-top: 100px;
    width: 100%;
    background-color: #FFE57A;
  }
  
.footer .rows {
    display: flex;
}
.footer .column:nth-child(1) {
    margin-top: 76px;
    margin-left: 162px;
    width: 328px;
    font-size: 20px;
}
.footer .column:nth-child(2) {
    margin-top: 76px;
    margin-left: 61px;
    width: 218px;
    font-size: 20px;
}
.footer .column:nth-child(3) {
    margin-top: 76px;
    margin-left: 184px;
    width: 347px;
    font-size: 20px;
}
.title {
    color: #844700;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
}
.footer-links a {
    color: #171717;
    text-decoration: none;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.bottom-nav a
{
    margin-right: 75px;
    text-decoration: none;
    color: white;
}

.ship_rep_dis
{
    padding-top: 100px;
    width: fit-content;
    height: fit-content; 
}