body
{
    margin:0;
    padding: 0;
}

header
{
    margin-bottom: 40px;
    width: 100%;
}

.logo_right{
    margin-right:50px;
}

/* body */
:root{
    --text-color: #1F3E97;
    --font-input: 'Lexend';
    --star-color: red;
}
.form-label{
    margin: 0;
    color: var(--text-color);
    font-family: var(--font-input);
    padding-right: 500px;
}

.form-required{
    font-family: var(--font-input);
    color: var(--star-color)
}

#toggle_password, #toggle_confirm_password{
    background-color: white;
    border: none;
}

/* Facebook + Google */
.button {
    display: inline-flex;
    border:1px solid black;
    padding: 5px 20px;
    background-color: white;
    text-decoration: none;
    border-radius: 20px;
    font-family: var(--font-input);
}

img{
    margin-right: 20px;
}

/* check account */
#check_account{
    font-family: var(--font-input);
    margin-top: 30px;
} 


/* footer */
.footer {
    margin-top: 100px;
    width: 100%;
    background-color: #FFE57A;
}
.bottom-nav a
{
    margin-right: 100px;
    text-decoration: none;
    color: #844700;
}